<header class="header">
    <app-threejs-animation></app-threejs-animation>
    <div class="container">
      <img class="profile-image img-responsive pull-left img-circle" src="assets/images/me.jpg" alt="Patrick Burns" />
      <div class="profile-content pull-left">
          <h1 class="name">Patrick Burns</h1>
          <h2 class="desc">{{title}}</h2>
          <ul class="social list-inline">
              <li><a href="https://twitter.com/jigglebilly83"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/in/burnsforce/"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://github.com/patrickrb"><i class="fa fa-github-alt"></i></a></li>
          </ul>
      </div>
      <a class="btn btn-cta-primary pull-right" href="mailto:patrick@burnsforce.com" target="_top"><i class="fa fa-paper-plane"></i> Contact Me</a>
    </div>
</header>
