<section class="about section">
    <div class="section-inner">
        <h2 class="heading">About Me</h2>
        <div class="content">
            <p>Development isn't just a job for me, it's a passion. Playing with new tools, libraries, and protocols is my favorite hobby.
              Starting a career in development and surrounding myself with professionals who are better than me is how I continue to challenge myself.
              Currently, I'm enjoying the MEAN stack with Angular 2. I've also been exploring Unity3D, Unreal Engine, and Three.js.</p>
        </div>
    </div>
</section>
