<aside class="testimonials aside section">
    <div class="section-inner">
        <h2 class="heading">Testimonials</h2>
        <div class="content">
            <div class="item">
                <blockquote class="quote">
                    <p><i class="fa fa-quote-left"></i>I worked with Patrick on several difficult web projects and was always impressed with his “can do” attitude. This may not seem like such a big deal because bright programmers commonly have an optimistic approach. However, what set Patrick apart was his willingness to dig into and learn things generally before anyone else knew how to do them. Patrick should be an asset in any innovate programming environment.</p>
                </blockquote>
                <p class="source"><span class="name">David Little</span><br /><span class="title">Director of Marketing at Keywest Technology</span></p>
            </div>
            <p><a class="more-link" href="https://www.linkedin.com/in/burnsforce/"><i class="fa fa-external-link"></i> More on Linkedin</a></p>
        </div>
    </div>
</aside>
